body {
    background: url("../images/marble.jpg");
    /* background-size: cover; */
    background-repeat: repeat;
    height: 100%;
    width: 100%;
}

.container {
    /* background: blue; */
}

.logo {
    margin-top: 50px;
}

p {
    font-size: 20px;
    color: rgb(221, 76, 100);
    font-weight: bolder;
    padding:5px;
}

p:hover {
    color: rgb(116, 0, 44);
    transition: 0.5s;
}

img {
    border-radius: 10px;
}